.header-wrapper {
  height: 10vh;
  display: flex;
  width: 100%;
  background-color: green;
}

.container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  background-color: red;
}

.logo {
  background-image: url('../../assets/Logo/rm-negro.png');
  background-size: contain;
  background-position: left;
  height: 90px;
  width: 10%;
  background-repeat: no-repeat;
}

.configuration {
  color: white;
  display: flex;
  align-items: center;
}